<ul>
    <%@support_requests.each do |support_request|%>
        <li>
            <h1>
                On <%=support_request.created_at.to_formatted_s(:long)%>
                <code><%support_request.email%></code> writes:
            </h1>
            <p>
                <blockquote>
                    <h2><%= support_request.subject %></h2>
                    <%=support_request.body%>
                </blockquote>
            </p>
            <h3>Orders lits:</h3>
            <div class="orders-list">
            <% if support_request.order %>
                <%@orders.each do |order|%>
                    <% if order.email === support_request.order.email %>
                        <hr>
                        <dl>
                            <dt>Name</dt>
                            <dd><%= order.name %></dd>

                            <dt>Email</dt>
                            <dd><%= order.email %></dd>

                            <dt>Address</dt>
                            <dd><%= order.address %></dd>

                            <dt>PayType</dt>
                            <dd><%= order.pay_type %></dd>

                            <dt>Line Items</dt>
                            <dd>
                                <ul>
                                    <%order.line_items.each do |line_item| %>
                                        <li>
                                            <%= line_item.product.title %>
                                            (<%= line_item.product.price %>)
                                        </li>
                                    <% end %>
                                </ul>
                            </dd>
                        </dl>
                    <% end %>
                <%end%>
            <%else%>
                <h3 class="notice">No associated order</h3>
            <%end%>
            </div>
            <%if support_request.response.blank?%>
                <%= form_with(model: support_request, local: true, class: "depot_form") do |form| %>
                    <div class="field">
                        <h4><%= form.label :response, "Write Response" %></h4>
                        <%= form.rich_text_area :response, id: :support_request_response %>
                    </div>
                    <div class="actions">
                        <%= form.submit "Send Response" %>
                    </div>
                <%end%>
            <%else%>
                <h4>Our response:</h4>
                <p>
                    <blockquote>
                        <%= support_request.response %>
                    </blockquote>
                </p>
            <%end%>
            <hr>
        </li>
    <%end%>
<ul>